@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light-gray;
}

body.dark {
  @apply bg-dark-slate;
}

/* Styling Scrollbar */
body.dark form::-webkit-scrollbar-thumb {
  background-color: #252945;
}

body.dark form::-webkit-scrollbar-thumb:hover {
  background-color: #3b3e58;
}

form::-webkit-scrollbar {
  width: 0.5rem;
}

form::-webkit-scrollbar-thumb {
  background-color: #dfe3fa;
  border-radius: 999rem;
}

form::-webkit-scrollbar-thumb:hover {
  background-color: #e9ebfc;
}

form::-webkit-scrollbar-track {
  margin-bottom: 2rem;
}
